* {
    padding: 0 0 0 0;
    margin: 0;
}
.container {
    border: 1px black solid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.container h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

.navBar {
    border: 1px yellow solid;
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.navLogoCtnr {
    width: 25%;
    border: 1px black solid;
    display: flex;
}

.navLogoImg {
    height: 8vh;
    padding: 1% 1% 1% 1%;
    margin-top: auto;
    margin-bottom: auto;
}

.navLogoTxt {
    font-size: 3em;
    border: 1px red solid;
    margin: auto;
}

.navButtonCtnr {
    border: 2px black solid;
    width: 50%;
}

.navButtons {
    width: 100%;
    height: 100%;
    border: 1px blue solid;
    display: flex;
    justify-content: right;
}

.navButton {
    border: 1px black solid;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    padding: 5% 0;
    width: 25%;
    border: 1px black solid;
    text-align: center;
    list-style-type: none;
}

.navButton a {
    border: 1px red solid;
    text-decoration: none;
}

.focalImage {
    position: relative;
    filter: brightness(60%);
    width: 100%;
}

.focal-text {
    background-color: rgba(255, 255, 255, 0.1);
    margin: auto;
    color: #00ff00;
    text-align: center;
    font-size: 3em;
    -webkit-box-shadow: 0.1em 0.1em 1em #bbb;
    box-shadow: 0.1em 0.1em 1em #bbb;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}


.company_name,
.focal-text>h2 {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 100;
}

.company_name {
    text-transform: uppercase;
    -webkit-animation: inherit;
    animation: inherit;
    font-style: normal;
    padding: none;
    font-size: 2em;
    padding-bottom: 0px;
    letter-spacing: 0.1em;
}

.focal-text>h2 {
    color: rgb(245, 220, 255);
    font-size: 1em;
    font-style: italic;
}

.footerCtnr {
    margin: 0 auto;
}

.footerCtnr p {
    text-align: center;
    font-size: 1.5em;
    margin-top: auto;
    margin-bottom: auto;
}

.productGallery {
    border: 2px blue solid;
    width: 80%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

.productGallery h2 {
    font-size: 3em;
    padding: 1em;
    text-align: center;
    text-decoration: underline;
}

.productGallery p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    padding: 0.3em;
    text-align: center;
}

.product {
    border: 4px green solid;
    display: flex;
    padding-top: 2em;
    padding-bottom: 2em;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.col_two {
    width: 38%;
    border: 2px blue solid;
}

.productImage {
    width: 100%;
}

.productDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.productFieldHeadings p {
    font-weight: bold;
}

.actionButton {
    border: 2px black solid;
    margin-left: auto;
    margin-right: auto;
    width: 84%;
}

.productOrder {
    text-decoration: none;
}

.entryForms {
    /* Center the form on the page */
    margin: 0 auto;
    width: 80%;
    /* Form outline */
    padding: 1em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1em;
  }
  
form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.entriesOuterContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

form li + li {
    margin-top: 1em;   
}

label {
/* Uniform size & alignment */
    display: inline-block;
    font-size: 2em;
    text-align: center;
}

input {
/* To make sure that all text fields have the same font settings
    By default, textareas have a monospace font */
    font: 2em 'Source Sans Pro', sans-serif;
    width: 100%;

    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border-color: rgb(68, 0, 255);
}


.button {
    border: 10px red;
    font: 2em 'Source Sans Pro', sans-serif;
    padding: .5em;
    width: 100%;
}

.button:hover {
    background-color: black;
    color: white;
    font: 2em 'Source Sans Pro', sans-serif;
    padding: .5em;
    width: 100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.gallery {
    width: 80%;
    background-color: rgb(70, 0, 0);
    padding: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

.galleryItemContainer {
    background-color: rgba(30, 60, 0, 0.5);
    border-radius: 0.5em;
    padding: 1em;
}

.twoContentEvenSplit {
    border: 20px brown;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.fieldHeadings p {
    font-size: 1.5em;
    font-style: bold;
}

.fieldContents p {
    font-size: 1em;
}

.col_two_slim {
    width: 45%;
}

.col_two_flush {
    width: 50%;
    background-color: black;
    border: 1px yellow;
    text-align: center;
    padding: 1em;
}

.col_two_flush a {
    width: 100%;
    color: white;
    text-decoration: none;
    text-align: center;
}

.managementOption {
    font: 2em 'Source Sans Pro', sans-serif;
    border: 1px white;
}

.minimize {
    font-size: 0.6em;
    text-align: left;
    text-decoration: underline;
    font-weight: bold;
}

.shorten {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

